.item {
  display: flex;
  align-items: center;
  padding-block: 10px;
  padding-inline: 20px;
  width: 300px;
  border: 1px solid #000;
  border-radius: 5px;
}

.status {
  margin-right: 10px;
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.avatar {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}
